---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: ((image.concourse_go.url))
    tag:        ((image.concourse_go.tag))

inputs:
- name: git
- name: git-ci
- name: cats
- name: work

run:
  path: git-ci/ci/scripts/cats

params:
  GENESIS_HONOR_ENV:    1
  SKIP_CATS:            false
  FAILFAST:             true
  VERBOSE:              false
  CATS_NODES:           2
  RUN_CATS:             nul
